/* body */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url("https://thumbs.dreamstime.com/b/vector-seamless-old-retro-video-game-background-classic-style-game-design-scenery-cool-vector-seamless-old-retro-video-game-140394287.jpg");
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    overflow: hidden;
}
/* Audio */
#audioToggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#audioToggle:hover {
    background-color: rgb(212, 40, 69);
    color: #fff;
}
#start{
    font-size: 30px;
    border: none;
    border-radius: 25px;
    padding: 20px 40px;
    margin-bottom: 70px;
    position: relative;
    left: 700px;
    top: 300px;
    text-align: center;
    background-color: rgb(235, 235, 42);
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#start:hover{
    background-color: rgb(206, 41, 69);
    color: white;
}
/* Responsive design */
@media only screen and (max-width: 760px) {
    body{
        background-size: cover;
    }
    #start{
        position: absolute;
        left: 200px;
    }
}