body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://img.freepik.com/premium-vector/blue-shadow-technology-background-design-020708_660340-14.jpg");
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    overflow: hidden;
}
/* Audio */
#audioToggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#audioToggle:hover {
    background-color: rgb(212, 40, 69);
    color: #fff;
}
h1{
    font-size: 60px;
    color: white;
    position: relative;
    bottom: 430px;

}
#pic{
    width: 450px;
    height: 420px;
    position: relative;
    left: 700px;
    top: 160px;
    border-radius: 15px;

}
.container2,
.container3,
.container4{
    position: relative;
    bottom: 250px;
    left: 310px;
    
}
#easyride,
#medium,
#master{
    text-align: center;
    margin-bottom: 70px;
    font-size: 30px;
    padding: 20px 40px;
    position: relative;
    right: 200px;
    bottom: 150px;
    border: none;
    border-radius: 25px;
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#easyride:hover,
#medium:hover,
#master:hover{
    background-color: rgb(230, 30, 63);
}