body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-image: url("./flappydark.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

#board {
    /* background-color: skyblue; */
    background-image: url("https://img.pikbest.com/back_our/20201224/bg/64ba6f3b544ff.png!w700wp");
    background-size: cover;
}

/* Audio */
#audioToggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 999;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#audioToggle:hover {
    background-color: rgb(212, 40, 69);
    color: #fff;
}